<header class="header">
    <div class="header__container">

        <img class="header__logo" src="./img/logo.png" alt="logo">

        <div class="header__work-time">
            <span>Пн-Пт: 10:00-19:00</span>
            <span>Сб: &nbsp; &nbsp; &nbsp; &nbsp; 11:00-16:00</span>
        </div>

        <div class="header__menu menu">
            <div class="menu__burger">
                <span></span>
            </div>

            <nav class="menu__body">
                <ul class="menu__list">
                    <li class="menu__link" ><a data-goto=".hero" href="#">Главная     </a></li>
                    <li class="menu__link" ><a data-goto=".about" href="#">О нас       </a></li>
                    <li class="menu__link" ><a data-goto=".advantages" href="#">Преимущества</a></li>
                    <li class="menu__link" ><a data-goto=".services" href="#">Услуги      </a></li>
                    <li class="menu__link" ><a data-goto=".our-contacts" href="#">Контакты    </a></li>
                    <li class="menu__link menu__call-us open-modal"><a href="#">Заказать звонок</a></li>
                </ul>
            </nav>
        </div>

        <button class="header__call-us open-modal"> 
            <span>Заказать звонок</span>
            <img src="../../img/icons/phone.png" alt="Заказать звонок">
        </button>

    </div>
</header>